---
import { getCollection } from "astro:content";
import FormattedDate from "components/FormattedDate.astro";
import Layout from "layouts/ContentLayout.astro";
import { css } from "styled-system/css";
import { flex } from "styled-system/patterns";

let posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
if (import.meta.env.PROD) {
  posts = posts.filter((p) => !p.data.draft);
}
---

<Layout
  title="Blog"
  description="Notes on web development, productivity, and more."
>
  <h1
    class={css({
      textStyle: { base: "3xl", md: "5xl" },
      mb: "7",
      fontWeight: "bold",
    })}
  >
    Writing
  </h1>
  <ul class={flex({ gap: "6", direction: "column" })}>
    {
      posts.map(({ slug, data: { title, draft, date } }) => (
        <li>
          <span class={css({ display: "block", textStyle: "xl", mb: "1" })}>
            <a
              class={css({ fontWeight: "bold", color: { _hover: "accent11" } })}
              href={draft ? `/blog-drafts/${slug}` : `/blog/${slug}`}
            >
              {title}
            </a>
            {draft && (
              <span
                class={css({
                  ml: "2",
                  p: "2",
                  bg: "accent11",
                  color: "white",
                  borderRadius: "4px",
                  fontSize: "xs",
                })}
              >
                DRAFT
              </span>
            )}
          </span>
          <span
            class={css({ display: "block", fontSize: "sm", color: "gray10" })}
          >
            <FormattedDate date={date} />
          </span>
        </li>
      ))
    }
  </ul>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#scrollTop")?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  });
</script>
