---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../components/Layout.astro";
import Box from "../../components/Box.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);
---

<Layout>
  <Box as="h2" type="$5xl" fontWeight="$bold" mb="$7" pt="$3">Articles</Box>
  <Box as="ul" display="flex" gap="$6" flexDirection="column">
    {
      posts.map(({ slug, data: { title, description, isDraft, date } }) => (
        <Box as="li">
          <Box as="span" display="block" type="$2xl" mb="$3">
            <Box
              fontWeight="$bold"
              as="a"
              color={{ hover: "$accent11" }}
              href={`/blog/${slug}`}
            >
              {title}
            </Box>
            {isDraft && (
              <Box
                as="span"
                ml="$2"
                p="$2"
                bg="accent"
                color="white"
                borderRadius="4px"
              >
                DRAFT
              </Box>
            )}
          </Box>
          <Box as="span" display="block" fontSize="$sm">
            <FormattedDate date={date} />
          </Box>
        </Box>
      ))
    }
  </Box>
  <Box
    as="button"
    type="button"
    width="100%"
    color="white"
    textDecoration="none"
    bg="$accent9"
    borderRadius="$base"
    textAlign="center"
    display="block"
    py="$3"
    mt="$6"
    id="scrollTop"
  >
    <span aria-hidden="true">👆</span>&nbsp;&nbsp;Scroll to the top
  </Box>
</Layout>

<script>
  document.querySelector("#scrollTop")?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
