---
import { getCollection } from "astro:content";
import FormattedDate from "components/FormattedDate.astro";
import Layout from "layouts/Layout.astro";
import Box from "components/Box.astro";

let posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
if (import.meta.env.MODE === "production") {
  posts = posts.filter((post) => !post.data.draft);
}
---

<Layout>
  <Box as="h2" typeScale="$3xl" fontStyle="italic" mt="$7" mb="$7" pt="$3">
    read my things
  </Box>
  <Box as="ul" display="flex" gap="$6" flexDirection="column">
    {
      posts.map(({ slug, data: { title, draft, date } }) => (
        <Box as="li">
          <Box as="span" display="block" typeScale="$xl" mb="$1">
            <Box
              fontWeight="$bold"
              as="a"
              color={{ hover: "$accent11" }}
              href={`/blog/${slug}`}
            >
              {title}
            </Box>
            {draft && (
              <Box
                as="span"
                ml="$2"
                p="$2"
                bg="$accent11"
                color="white"
                borderRadius="4px"
                fontSize="$xs"
              >
                DRAFT
              </Box>
            )}
          </Box>
          <Box as="span" display="block" fontSize="$sm" color="$gray10">
            <FormattedDate date={date} />
          </Box>
        </Box>
      ))
    }
  </Box>
  <Box
    as="button"
    type="button"
    width="100%"
    color="white"
    textDecoration="none"
    bg="$accent9"
    borderRadius="$base"
    textAlign="center"
    display="block"
    py="$3"
    mt="$6"
    id="scrollTop"
  >
    <span aria-hidden="true">👆</span>&nbsp;&nbsp;Scroll to the top
  </Box>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#scrollTop")?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  });
</script>
