---
import { Image } from "astro:assets";
import Card from "components/Card.astro";
import UsesCard from "components/UsesCard.astro";
import Layout from "layouts/ContentLayout.astro";
import { grid } from "styled-system/patterns";
import { PiCodeBlock } from "react-icons/pi";
import { GiDesk } from "react-icons/gi";
import { css } from "styled-system/css";
import { IoPhonePortraitOutline } from "react-icons/io5";
import Neovim from "../../images/neovim.png";
---

<Layout
  title="Stuff I Use"
  description="A breakdown of my developer setup, gear, software, and configs."
>
  <div class="prose">
    <h1 class={css({ textStyle: "4xl", mb: "7" })}>Stuff I Use</h1>
    <p class={css({ mb: "3em" })}>
      Gear and tools I use. Inspired by <a
        href="https://uses.tech"
        target="_blank">uses.tech</a
      >.
    </p>
  </div>
  <div
    class={grid({
      gap: "6",
      gridTemplateColumns: { base: "1fr", xs: "1fr 1fr" },
    })}
  >
    <Card
      href="/uses/software"
      class={css({
        gridColumn: { xs: "1 / 3" },
        color: { base: "gray11", _hover: "gray12" },
        p: "0",
      })}
    >
      <Image
        src={Neovim}
        alt=""
        class={css({ display: "block", width: "100%", borderRadius: 0 })}
      />
      <span class={css({ p: 4 })}>
        <span
          class={css({ fontWeight: "bold", textStyle: "lg", display: "block" })}
          >Development Software</span
        >
        <span class={css({ minHeight: { xs: "2lh" } })}
          >Neovim, tmux, dotfiles, and more</span
        >
      </span>
    </Card>
    <UsesCard
      title="About this site"
      desc="Astro, Panda CSS, Radix Colors"
      href="/uses/about-this-site"
    >
      <PiCodeBlock slot="icon" />
    </UsesCard>
    <UsesCard
      title="Home Office"
      desc='Standing desk, gaming PC, 4K 32" monitor'
      href="/uses/office"
      preview
    >
      <GiDesk slot="icon" />
    </UsesCard>
    <UsesCard title="Phone" desc="iPhone 15 Pro" href="/uses/phone" preview>
      <IoPhonePortraitOutline slot="icon" className={css({ ml: "-0.2em" })} />
    </UsesCard>
  </div>
</Layout>
