---
import Layout from "../layouts/ContentLayout.astro";
import { mdWrapper } from "layouts/BlogPostLayout.css";
import box from "../components/ds";
import "./work.css.ts";
---

<Layout title="Work" description="A summary of my work history and projects.">
  <box.div class:list={[mdWrapper]}>
    <h1>Work</h1>
    <p>
      I'm an experienced software engineering leader with a focus on web
      development, design systems, and developer productivity tooling. I enjoy
      working in open-source, and I currently maintain a few projects. Before
      now, I worked as a scenic carpenter and theatrical technician, and
      graduated from Vassar College. Read on for more on my
    </p>
    <hr />
    <h2>Wayfair</h2>
    <p class="subtitle">Staff Software Engineer, 2016-2024</p>
    <p>
      I joined <a href="https://wayfair.com">Wayfair</a> to help grow the UI toolkit
      for internal and supplier facing applications into a component library built
      on a proprietary frontend framework.
    </p>
    <ul>
      <li>
        In 2017, I was promoted to Web Developer II. My team and I rewrote the
        design system into <a href="https://react.dev">React.js</a> to support the
        technology organization's adoption of React. I started and emceed a monthly
        company meetup for all things frontend development. I helped grow the enterprise
        product design team through interviewing and bridging the gap between designers
        and developers.
      </li>
      <li>
        In 2019, I was promoted to Senior Software Engineer, now leading the
        Enterprise Homebase engineering team. I built a lot of new components to
        serve product teams' needs, facilitated office hours to provide hands-on
        support, and delivered monthly trainings to teach developers how to use
        the design system. I designed and organized the execution of a project
        to consolidate the "admin" and "supplier" component libraries into a
        single, theme-able library, effectively halving the team's management
        effort.
      </li>
      <li>
        In 2021, I was promoted to Staff Software Engineer, now leading the
        entire Homebase engineering team and the effort to consolidate the
        e-commerce and enterprise design systems into a single system. <a
          href="https://www.designsystemspodcast.com/episodes/episode/7c4cc37e/42-neva-corbo-hudak-and-rogin-farrer-from-wayfair-the-long-evolution-of-a-web-design-system"
          >I appeared on the Design Systems podcast</a
        > to discuss the evolution of design systems at Wayfair. I facilitated discussions,
        created RFCs, and drafted the decision records for Wayfair's officially supported
        CSS frameworks. I orchestrated the component library's backwards-compatible
        refactor to <a href="https://typescriptlang.org">TypeScript</a> and <a
          href="https://vanilla-extract.style">Vanilla Extract</a
        >. I created the open-source library <a
          href="https://github.com/wayfair/rainbow-sprinkles"
          >Rainbow Sprinkles</a
        >
        to implement dynamic, theme-driven style props with zero-runtime CSS generation.
      </li>
    </ul>
    <hr />
    <h2>Open-source Projects</h2>

    <h3>
      <a href="https://github.com/roginfarrer/collapsed">react-collapsed</a>
    </h3>
    <p>
      A React custom hook for creating accessible and animated expand/collapse
      components. No animation framework dependencies required! Simply powered
      by CSS transitions. <a href="https://react.dev"
        >Currently featured on React's new docs site!</a
      >
    </p>
    <h3>
      <a href="https://github.com/wayfair/rainbow-sprinkles"
        >rainbow-sprinkles</a
      >
    </h3>
    <p>
      Dynamic, theme-driven style props for Vanilla Extract. Addressed the need
      for a <a href="https://github.com/styled-system/styled-system"
        >styled-system</a
      > API, but without the need for a runtime CSS framework. Supported the design
      system's adoption of Vanilla Extract without requiring a significant refactor
      by the system's users.
    </p>
    <h3>
      <a href="https://github.com/system-props/system-props">system-props</a>
    </h3>
    <p>
      Responsive, type-safe, theme-based style props for building design systems
      with React. This library-a precursor to rainbow-sprinkles while Homebase
      used runtime CSS solutions-provided key utilities for styling flexibility
      in the system (with constraints).
    </p>
    <h3>
      <a
        href="https://github.com/roginfarrer/eslint-plugin-react-server-components"
        >eslint-plugin-react-server-components</a
      >
    </h3>
    <p>
      Experiment in making an ESLint rule for enforcing "use client" in client
      components (and warning if it's not needed).
    </p>
  </box.div>
</Layout>
