---
import { vars } from "src/vars.css";
import { box } from "../box";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a"> & {
  title: string;
  desc: string;
};

const { title, desc, class: classList, style, ...props } = Astro.props;
---

<a
  {...props}
  {...box(
    {
      borderRadius: "$xl",
      border: `1px solid ${vars.colors.gray8}`,
      bg: { hover: "$gray3" },
      p: "$4",
      transition:
        ".2s background-color ease-out, .2s box-shadow ease-out, outline-offset ease 0.5s",
      boxShadow: { hover: "0 4px 20px 0 rgba(78,87,100,0.2)" },
      display: "flex",
      flexDirection: "column",
      justifyContent: "space-between",
      flex: "1 1 100%",
    },
    { class: classList, style },
  )}
>
  <span>
    <span
      {...box({
        display: "block",
        typeScale: "$xl",
        fontWeight: "$bold",
        mb: "$4",
      })}
    >
      {title}<slot name="title" />
    </span>
    <span {...box({ display: "block", fontStyle: "italic" })}>
      {desc}
    </span>
  </span>
  <slot />
</a>
