---
import type { IconDefinition } from "@fortawesome/free-solid-svg-icons";
import { flex } from "styled-system/patterns";
import { css } from "styled-system/css";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { token } from "styled-system/tokens";
import type { CSSProperties } from "react";
import { type Colors } from "../types";

export interface Props {
  icon: IconDefinition;
  iconColor: Colors;
}

const { icon, iconColor } = Astro.props;
---

<div
  class={flex({
    gap: "2",
    borderRadius: "50vw",
    align: "center",
    border: "1px solid token(colors.gray7)",
    py: "1",
    px: "2",
    textStyle: "sm",
  })}
>
  <FontAwesomeIcon
    data-chip-icon={icon.iconName}
    icon={icon}
    className={css({ size: "15px", color: "var(--color)" })}
    style={{ "--color": token(`colors.${iconColor}`) } as CSSProperties}
  />
  <slot />
</div>
