---
import { flex } from "styled-system/patterns";
import HeaderNavItem from "./HeaderNavItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { css } from "styled-system/css";

type Props = {
  links: { title: string; url: string }[];
};
---

<div
  class={css({
    ml: "-3",
    width: "100%",
  })}
>
  <nav class={flex({ gap: "4", width: "100%" })}>
    {
      Astro.props.links.map(({ url, title }) => (
        <HeaderNavItem href={url}>{title}</HeaderNavItem>
      ))
    }
    <div class={css({ ml: "auto" })}><ThemeToggle /></div>
  </nav>
</div>
