---
import { css } from "styled-system/css";

const { href } = Astro.props;
export const TRANSITION = ".15s background-color ease";
const isActive = Astro.url === href;
---

<a
  class={css(
    {
      bg: { _hover: "gray5" },
      borderRadius: "md",
      px: "3",
      py: "1",
      color: "gray12",
      transition: ".15s background-color ease",
      mixBlendMode: "luminosity",
    },
    isActive && { fontWeight: "bolder" },
  )}
  href={href}
>
  <slot />
</a>
