---
import Box from "./Box.astro";
import HeaderNavItem from "./HeaderNavItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { css } from "styled-system/css";

type Props = {
  links: { title: string; url: string }[];
};
---

<div
  class={css({
    ml: "-3",
    width: "100%",
  })}
>
  <Box as="nav" gap="$4" display="flex" width="100%">
    {
      Astro.props.links.map(({ url, title }) => (
        <HeaderNavItem href={url}>{title}</HeaderNavItem>
      ))
    }
    <Box ml="auto"><ThemeToggle /></Box>
  </Box>
</div>
