---
import Box from "./Box.astro";
import Header from "./Header.astro";
import { darkTheme } from "../styles/vars.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import Select from "./Select.astro";
import { supportedFontClasses, supportedFonts } from "../vars.css";

const isHome = Astro.url.pathname === "/";
---

<script type="module" is:inline>
  const supportedFontClasses = document
    .querySelector("body")
    .dataset.fontClasses.split(",");

  const fontSwitcher = document.querySelector("#font-switcher");
  const themeSwitcher = document.querySelector("#accent-color-switcher");

  function updateFont(newValue) {
    localStorage.setItem("font", newValue);
    document.documentElement.classList.remove(...supportedFontClasses);
    if (newValue) {
      document.documentElement.classList.add(newValue);
    }
  }

  function updateAccentColor(newColor) {
    localStorage.setItem("theme-accent-color", newColor);
    document.documentElement.classList.remove("red", "blue", "green", "purple");
    document.documentElement.classList.add(newColor);
  }

  const storedFont = localStorage.getItem("font");
  if (storedFont) {
    fontSwitcher.value = storedFont;
    updateFont(storedFont);
  }

  const storedColor = localStorage.getItem("theme-accent-color");
  if (storedColor) {
    themeSwitcher.value = storedColor;
    updateAccentColor(storedColor);
  }

  fontSwitcher.addEventListener("change", (ev) => {
    const newValue = ev.target.value;
    updateFont(newValue);
  });
  themeSwitcher.addEventListener("change", (ev) => {
    const newColor = ev.target.value;
    updateAccentColor(newColor);
  });
</script>

<html lang="en" class:list={["light", darkTheme]}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Box
    as="body"
    data-font-classes={supportedFontClasses.join(",")}
    pb={{ _: "$9", md: "$7" }}
  >
    <Header />
    <Box
      as="main"
      maxWidth="800px"
      m="0 auto"
      px="$5"
      mb="$8"
      mt={!isHome ? "$8" : 0}
    >
      <slot />
    </Box>
    <Box as="footer" textAlign="center">
      <Box mb="$4" display="flex" gap="$4" justifyContent="center">
        <Select label="Font" id="font-switcher">
          <option value="">System Default</option>
          {
            Object.keys(supportedFonts).map((name) => (
              <option value={name.replace(" ", "")}>{name}</option>
            ))
          }
        </Select>
        <Select label="Accent Color" id="accent-color-switcher">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="purple">purple</option>
          <option value="red">Red</option>
        </Select>
      </Box>
      <Box type="$sm" color="$gray11">
        © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
      </Box>
    </Box>
  </Box>
</html>
