---
import Select from "./Select.astro";
import { colors, supportedFonts } from "../store";
---

<Select label="Font" data-id="font">
  {
    Object.entries(supportedFonts).map(([className, name]) => (
      <option value={className}>{name.replace(" Variable", "")}</option>
    ))
  }
</Select>
<Select label="Accent Color" data-id="color">
  {
    colors.map((color) => (
      <option value={color}>
        {color.charAt(0).toUpperCase() + color.slice(1)}
      </option>
    ))
  }
</Select>
<Select label="Theme" data-id="theme">
  <option value="system">System</option>
  <option value="dark">Dark</option>
  <option value="light">Light</option>
</Select>
