---
import { css } from "styled-system/css";
import { TRANSITION } from "./HeaderNavItem.astro";
import { MoonIcon, SunIcon } from "@radix-ui/react-icons";
---

<script>
  import { actions } from "../store";

  function setup() {
    const handleToggleClick = () => {
      const element = document.documentElement;
      const isDark = element.classList.contains("dark");
      actions.updateTheme(isDark ? "light" : "dark");
    };

    document.querySelectorAll(".theme-toggle").forEach((toggle) => {
      toggle.addEventListener("click", handleToggleClick);
    });
  }

  setup();

  document.addEventListener("astro:after-swap", setup);
</script>

<button
  class:list={[
    "theme-toggle",
    css({
      transition: TRANSITION,
      borderRadius: "md",
      p: "1",
      bg: { base: "gray4", _hover: "gray6" },
      border: "2px solid {colors.gray6}",
      size: "32px",
      display: "flex",
      justifyContent: "center",
      alignItems: "center",
    }),
  ]}
>
  <MoonIcon className="moon" />
  <SunIcon className="sun" />
</button>

<style>
  .theme-toggle {
    mix-blend-mode: luminosity;
  }
  .sun {
    display: none;
  }
  .moon {
    display: block;
  }

  :global(.dark) .sun {
    display: block;
  }
  :global(.dark) .moon {
    display: none;
  }
</style>
