---
import Card from "./Card.astro";
import { css } from "styled-system/css";

const { title, desc, href } = Astro.props;

type Props = {
  title: string;
  desc: string;
  href: string;
};
---

<Card href={href} color={{ _: "$gray11", hover: "initial" }}>
  <span class={css({ fontSize: "4em", mb: { base: "3", xs: "6" } })}
    ><slot name="icon" /></span
  >
  <span class={css({ fontWeight: "bold", textStyle: "lg" })}>{title}</span>
  <span class={css({ minHeight: { xs: "2lh" } })}>{desc}</span>
</Card>
