---
import Layout from "layouts/ContentLayout.astro";
import FormattedDate from "components/FormattedDate.astro";
import { css } from "styled-system/css";
import { flex } from "styled-system/patterns/flex";

type Props = {
  title: string;
  description?: string;
  date: Date;
};

const { title, description, date } = Astro.props;
---

<Layout description={description} title={title}>
  <div class={css({ mx: "auto", maxWidth: "42em" })}>
    <article class="prose">
      <header
        class={flex({
          direction: "column-reverse",
          gap: { base: "2", md: "3" },
          textAlign: { md: "center" },
        })}
      >
        <h1>{title}</h1>
        <time
          class={css({
            display: "block",
            textStyle: { base: "sm", md: "base" },
            color: "gray9",
          })}
        >
          <FormattedDate date={date} />
        </time>
      </header>
      <slot />
    </article>
    <a
      class={css({
        color: "white",
        textDecoration: "none",
        bg: "accent9",
        borderRadius: "base",
        textAlign: "center",
        display: "block",
        py: "3",
      })}
      href="/blog"
    >
      <span aria-hidden="true">👈</span>&nbsp;&nbsp; Back
    </a>
  </div>
</Layout>
