---
import Box from "../components/Box.astro";
import Header from "../components/Header.astro";
import { darkTheme } from "../styles/vars.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import "../styles/panda.css";
import { supportedFontClasses } from "../vars.css";
import * as styles from "./Layout.css";
import SettingsForm from "components/SettingsForm.astro";

const isHome = Astro.url.pathname === "/";
---

<script>
  import { actions } from "../store";
  import { setupForm } from "../components/SettingsForm.astro";

  const onPageLoad = (doc = document) => {
    setupForm(doc.querySelector("footer")!);
    actions.updateTheme(undefined, doc);
    actions.updateColor(undefined, doc);
    actions.updateFont(undefined, doc);
  };

  onPageLoad();

  document.addEventListener("astro:before-swap", (ev) => {
    // @ts-expect-error
    onPageLoad(ev.newDocument);
  });
</script>

<html lang="en" class:list={[darkTheme]} transition:persist="html">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <Box
    as="body"
    data-font-classes={supportedFontClasses.join(",")}
    pb={{ _: "$9", md: "$7" }}
  >
    <a href="#main" class={styles.skipToContent}>Skip to Content</a>
    {!isHome && <div class={styles.halo} />}
    <Header />
    <Box
      as="main"
      id="main"
      m="0 auto"
      mb="$8"
      mt={!isHome ? "$8" : 0}
      maxWidth={{ _: "min(800px, 85vw)", md: "min(1200px, 85vw)" }}
    >
      <slot />
    </Box>
    <Box as="footer" textAlign="center">
      <Box mb="$4" display="flex" gap="$4" justifyContent="center">
        <SettingsForm />
      </Box>
      <Box typeScale="$sm" color="$gray11">
        © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
      </Box>
    </Box>
  </Box>
</html>
